name: "CD"

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "src/**"
      - "Dockerfile"
      - ".github/workflows/CD.yml"
      - "package.json"

jobs:
  PushImage_Ariel:
    name: Build and Push Image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Build and push Raven Docker image
        uses: docker/build-push-action@v2.10.0
        with:
          push: true
          context: .
          tags: |
            artiefuzzz/raven:latest
            artiefuzzz/raven:${{ github.sha }}
